html, body {
height: 100%;
width: 100%;
margin: 0;
padding: 0;
}

body{
    background-image: url("http://cdn.wallpapersafari.com/48/71/DJbO57.jpg");
    background-size: cover;       
    background-repeat: repeat;
    background-position: center center;
}

form {
	display: inline;
}

#buttons {
    text-align: center;
    margin: 200px;
}

#question {
    font: 62px Monaco;
    font-weight: bold;
    text-align: center;
    margin: -150px;
}

#B1,#B2 {
    background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(108,0,153,0.65) 100%);
    width: 400px;
    height: 400px;
    font: 22px/30px Monaco;
    text-transform: uppercase;
    display: inline;
    vertical-align: middle;
}

#info {
    text-align: center;
}

#matches,#profile {
    background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(108,0,153,0.65) 100%);
    width: 550px;
    height: 375px;
    font: 22px/30px Monaco;
    border: none;
    display: inline;
    margin: 50px;
    vertical-align: middle;
}


