
<!-- this is template for game -->

{% block content %}

{% load static %}

<html>

    <head>
        <title>EqualsTo</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>

	<header id="logo">        
		<img src="http://i.imgur.com/cTSWWAu.png">
	</header>
    
        <div id="question">
            Would you rather...
        </div>
    
        <div id="buttons">
		<form action="{% url 'polls:answered1' question.id %}" method="post">
			{% csrf_token %}
			<button id="B1"> {{ question.answer_1 }} </button>
		</form>

		<form action="{% url 'polls:answered2' question.id %}" method="post">
			{% csrf_token %}
			<button id="B2"> {{ question.answer_2 }} </button>
		</form>
        </div>
        
    </header>

</html>

{% endblock content %}
