
<!-- this is template for game -->

{% block content %}

{% load static %}

<html>

    <head>
        <title>EqualsTo</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>

	<header id="logo">        
		<img src="http://i.imgur.com/cTSWWAu.png">
	</header>
    
        <div id="question">
            Would you rather...
        </div>
    
        <div id="buttons">
		<style> 
			a {
				text-decoration: none;
			}
		</style>
		<a href="{% url 'index' %}"><button id="B1" onclick=""> {{ question.answer_1 }} </button>
		<button id="B2" onclick=""> {{ question.answer_2 }} </button></a>
        </div>
        
    </header>

</html>

{% endblock content %}
